.form-inputs {
  width: 60%;
  background-color: #fff;
  color: #000;
  margin: auto;
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px;
  position: relative;
}

.form-username label {
  font-weight: bold;
  font-size: 20px;
  position:absolute;
  top:0;
  
}
.form-username input {
  width: 90%;
  margin-top: 10px;
}

.form-age label {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 50px
}
.form-age input {
  width: 90%;
  margin-top: 29px;
}
 .button{
  padding:5px 20px 5px 20px;
  margin-top:15px;
  background-color: #590d59;
  color:#fff;
  font-size:15px;
  border-style: none;
  position:relative;
  left:-355px;
 }